|<div class="container">
<form name="currencyFormPrice" class="form-inline">
    <div class="form-group col-md-offset-1" ng-class="{'has-error': currencyFormPrice.priceColones.$invalid}">
        <label for="priceColones" class="control-label">Price in colones</label>
        <input type="number" id="priceColones" name="priceColones" class="form-control" ng-model="currency.priceColones" ng-pattern="/^[0-9]+$/" ng-change="currency.computeReturnOrcardPayment(currencyFormPrice.$valid)" placeholder="{{currency.displayedPriceColones}} &#8353;" />
    </div>

    <div class="form-group" ng-class="{'has-error': currencyFormPrice.priceDollars.$invalid}">
        <label for="priceDollars" class="control-label">Price in dollars</label>
        <input type="number" id="priceDollars" name="priceDollars" class="form-control" ng-model="currency.priceDollars" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-change="currency.computeReturnOrcardPayment(currencyFormPrice.$valid)" placeholder="{{currency.displayedPriceDollars}} &#36;" />
    </div>

    <label for="rate">Change rate</label>
    <select ng-model="currency.rate" ng-change="currency.computeReturnOrcardPayment(currencyFormPrice.$valid)">
        <option value="540" selected>540</option>
        <option value="500">500</option>
    </select>
</form>

<br>

<form name="currencyFormPayment" class="form-inline" ng-show="!currency.cardPayment">
    <div class="form-group col-md-offset-1" ng-class="{'has-error': currencyFormPayment.customerPaymentColones.$invalid}">
        <label for="customerPaymentColones" class="control-label">Payment in colones</label>
        <input type="number" id="customerPaymentColones" name="customerPaymentColones" class="form-control" ng-model="currency.customerPaymentColones" ng-pattern="/^[0-9]+$/" ng-change="currency.computeReturnOrcardPayment(currencyFormPayment.$valid)" placeholder="&#8353;" />
    </div>

    <div class="form-group" ng-class="{'has-error': currencyFormPayment.customerPaymentDollars.$invalid}">
        <label for="customerPaymentDollars" class="control-label">Payment in dollars</label>
        <input type="number" id="customerPaymentDollars" name="customerPaymentDollars" class="form-control" ng-model="currency.customerPaymentDollars" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-change="currency.computeReturnOrcardPayment(currencyFormPayment.$valid)" placeholder="&#36;" />
    </div>
</form>
<div ng-show="currency.customerPaymentDollars && currency.customerPaymentColones && !currency.cardPayment" class="col-md-offset-1">
    <span class="glyphicon glyphicon-warning-sign text-info" aria-hidden="true"></span><span class="text-info"> Payment combines colones and dollars</span>
</div>

<br/>

<form class="form-inline">
    <div class="checkbox col-md-offset-1">
        <label>
            <input type="checkbox" ng-model="currency.cardPayment"> Card Payment
        </label>
    </div>
</form>

<br/>

<form class="form-inline">
    <div class="form-group col-md-offset-1">
        <button type="reset" class="btn btn-default" ng-click="currency.reset()">Reset</button>
    </div>
</form>

<hr ng-show="currency.cardPayment || currency.returnColones || currency.returnDollars">

<div class="col-md-offset-1" ng-show="!currency.cardPayment && (currency.returnColones || currency.returnDollars)">
    <h4>
        <p>
            <span><b>Customer change in colones:</b></span>
            <span class="label label-info">{{currency.returnColones}} &#8353;</span>
        </p>
        <p>
            <span><b>Customer change in dollars:</b></span>
            <span class="label label-info">{{currency.returnDollars}} &#36;</span>
        </p>
    </h4>
</div>


<div class="col-md-offset-1" ng-show="currency.cardPayment && (currency.priceDollars || currency.priceColones)">
    <h4>
        <p>
            <span><b>Charge customer:</b></span>
            <span class="label label-info">{{currency.cardPaymentDollars}} &#36;</span>
        </p>
        <p class="help-block">Card payment commission is {{currency.cardPaymentCommissionPercent}}%</p>    
    </div>
    </h4>
</div>
</div>